.modal {
    position: fixed;
    right: 40%;
    top: 20%;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid;
}

/* .modal button {
    position: absolute;
    top: 0;
    right: 0;
} */

.modal_light {
    background-color: white;
    border-color: black;
    color: black;
}

.modal_dark {
    background-color: black;
    border-color: white;
    color: white;
}

.header {
    margin-bottom: 15px;
    font-weight: bold;
}

.body {
    margin-bottom: 15px;
}

.footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}