.mainLayout {
  display: flex;
  flex-direction: column;
  min-height: 98vh;
}

.mainContent {
  flex: 1 0 auto;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}