.app {
    padding: 0 20%;
}

.app_dark {
    background-color: black;
    color: white;
}

.app_light {
    background-color: white;
    color: black;
}

body {
    margin: 0;
}

.mainLayout {
  display: flex;
  flex-direction: column;
  min-height: 98vh;
}

.mainContent {
  flex: 1 0 auto;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}